PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=EpyHeZgvPpKf7FcGENfCZHgsykKJ4ijk
DRIVE_DISK=local

SESSION_DRIVER=cookie

CACHE_VIEWS=false

DB_CONNECTION=sqlite

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid

PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_USER=lucid
ORACLE_PASSWORD=
ORACLE_DB_NAME=lucid

MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_USER=lucid
MSSQL_PASSWORD=
MSSQL_DB_NAME=lucid

GITHUB_CLIENT_ID=clientId
GITHUB_CLIENT_SECRET=clientSecret

GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret

TWITTER_CLIENT_ID=clientId
TWITTER_CLIENT_SECRET=clientSecret

DISCORD_CLIENT_ID=clientId
DISCORD_CLIENT_SECRET=clientSecret

LINKEDIN_CLIENT_ID=clientId
LINKEDIN_CLIENT_SECRET=clientSecret

FACEBOOK_CLIENT_ID=clientId
FACEBOOK_CLIENT_SECRET=clientSecret

SPOTIFY_CLIENT_ID=clientId
SPOTIFY_CLIENT_SECRET=clientSecret

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>

SES_ACCESS_KEY=<aws-access-key>
SES_ACCESS_SECRET=<aws-secret>
SES_REGION=us-east-1

MAILGUN_API_KEY=<mailgun-api-key>
MAILGUN_DOMAIN=<your-domain>

SPARKPOST_API_KEY=<sparkpost-api-key>

REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
